#address{
    position: relative;
    text-align: right;
}


body{
    margin: 0 80px 0px 80px;
    border-left:1.5px solid rgb(192,192,192);
}

ul{
    list-style: none;
    margin-left:-40px;
}
li{
    margin-bottom: 4px;
}

h3{
 text-decoration: underline;
}

.p{
    text-decoration: underline;
}
p{
    margin-bottom:3px;
}

.gallery {
margin:20px;
}

img{
    padding:10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    height:270px;
    width: 250px; 
}

.footer {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    margin:0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;

  }